#app-footer {
  background-color: #000000;
  align-items: center;
  alignment: center;
  padding: 40px 120px;
  font-family: ProximaNovaSemibold;
  color: #ededed;
}

#app-footer-links {
  height: 40px;
  a {
    color: #ededed;
    font-size: 12px;
    margin-left: 20px;
    &::before {
      margin-left: -13px;
      color: #ededed;
    }
  }
}
