.footer {
  opacity: 1;
  position: relative;
  bottom: 0;
  height: 189px;
  width: 100%;
  background-color: #000000;
  align-items: center;
  alignment: center;
  .col-1 {
    .boxed1 {
      opacity: 1;
      position: absolute;
      left: 120px;
      top: 37px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 530px;
      height: 42px;
      line-height: 20px;
      margin-top: -4px;
      text-align: left;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(237, 237, 237, 1);
    }

    .logo-footer {
      opacity: 1;
      position: absolute;
      width: 358.068px;
      height: 60.616px;
      left: 120px;
      top: 82.586px;
      overflow: visible;
    }
  }

  .col-2 {
    opacity: 1;
    position: absolute;
    width: 173px;
    height: 112.804px;
    left: 990px;
    top: 37px;
    overflow: visible;
    .boxed2 {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 0px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 174px;
      height: 42px;
      line-height: 53px;
      margin-top: -20.5px;
      text-align: left;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(237, 237, 237, 1);
    }

    .ekke {
      position: absolute;
      overflow: visible;
      width: 63px;
      height: 62px;
      left: 0.029px;
      top: 50px;
    }

    #Athena_RC_Vertical {
      opacity: 1;
      position: absolute;
      width: 69.038px;
      height: 62.6px;
      left: 103.589px;
      top: 50.204px;
      overflow: visible;
    }
    #Layer_1_A0_Group_106 {
      opacity: 1;
      position: absolute;
      width: 69.038px;
      height: 62.6px;
      left: 0px;
      top: 0px;
      overflow: visible;
    }
    #Path_816 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_816 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 47.507px;
      left: 65.405px;
      width: 3.633px;
      height: 4px;
    }
    #Path_817 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_817 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 47.284px;
      left: 0px;
      width: 69.038px;
      height: 15.316px;
    }
    #Path_818 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_818 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 52.959px;
      left: 19.232px;
      width: 5.397px;
      height: 3.962px;
    }
    #Path_819 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_819 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 18.382px;
      left: 15.699px;
      width: 37.64px;
      height: 19.257px;
    }
    #Path_820 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_820 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 0px;
      left: 15.699px;
      width: 37.64px;
      height: 19.257px;
    }
    #Path_821 {
      opacity: 1;
      fill: rgba(255, 255, 255, 1);
    }
    .Path_821 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 9.234px;
      left: 12.992px;
      width: 43.048px;
      height: 19.17px;
    }
  }

  .col-3 {
    opacity: 1;
    position: absolute;
    width: 164px;
    height: 91.708px;
    left: 1288.971px;
    top: 37px;
    overflow: visible;
    .boxed3 {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 0px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 165px;
      height: 42px;
      line-height: 53px;
      margin-top: -20.5px;
      text-align: left;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(237, 237, 237, 1);
    }

    .cc {
      position: absolute;
      overflow: visible;
      width: 49.325px;
      height: 49.325px;
      left: 0.029px;
      top: 42.383px;
    }

    .person {
      position: absolute;
      overflow: visible;
      width: 49.325px;
      height: 49.325px;
      left: 62.918px;
      top: 42.383px;
    }
  }

  .col-4 {
    opacity: 1;
    position: absolute;
    width: 294.125px;
    height: 108.647px;
    left: 1505.875px;
    top: 41.156px;
    overflow: visible;
    .eu {
      position: absolute;
      overflow: visible;
      width: 116.408px;
      height: 108.647px;
      left: 0px;
      top: 0px;
    }

    .nsrf {
      position: absolute;
      overflow: visible;
      width: 177.716px;
      height: 108.538px;
      left: 116.408px;
      top: 0px;
    }
  }
}
