@import 'app/shared/common.scss';

#app-footer {
  background-color: #000000;
  @include mobile {
    align-items: left;
    alignment: letf;
  }
  @include computer {
    align-items: center;
    alignment: center;
  }
  padding: 40px 120px;
  font-family: ProximaNovaSemibold;
  color: #ededed;
}

#app-footer-colab {
  font-family: ProximaNovaSemibold;
  font-size: 12px;
}

#app-footer-cc {
  font-family: ProximaNovaSemibold;
  font-size: 12px;
  padding-left: -20px;
}

#app-footer-links {
  height: 40px;
  a {
    color: #ededed;
    font-size: 12px;
    margin-left: 20px;
    &::before {
      margin-left: -13px;
      color: #ededed;
    }
  }
}
