// Override Boostrap variables
@import 'bootstrap-variables';
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'BPnoScript';
  src: url('../static/Fonts/BPnoScript/BPnoScript.ttf') format('truetype');
}

@font-face {
  font-family: 'BPnoScriptLight';
  src: url('../static/Fonts/BPnoScript/BPnoScriptLight.ttf') format('truetype');
}

@font-face {
  font-family: 'BPnoScriptBold';
  font-weight: bold;
  src: url('../static/Fonts/BPnoScript/BPnoScriptBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../static/Fonts/ProximaNova/ProximaNovaBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../static/Fonts/ProximaNova/ProximaNovaLight.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../static/Fonts/ProximaNova/ProximaNovaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../static/Fonts/ProximaNova/ProximaNovaSemibold.ttf') format('truetype');
}

body {
  background-color: #e6e6e6;
  margin: 0;
  min-height: 100vh;
  position: relative;
}
