@font-face {
  font-family: 'BPnoScript';
  src: url('../static/Fonts/BPnoScript/BPnoScript.ttf') format('truetype');
}

@font-face {
  font-family: 'BPnoScriptLight';
  src: url('../static/Fonts/BPnoScript/BPnoScriptLight.ttf') format('truetype');
}

@font-face {
  font-family: 'BPnoScriptBold';
  font-weight: bold;
  src: url('../static/Fonts/BPnoScript/BPnoScriptBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../static/Fonts/ProximaNova/ProximaNovaBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../static/Fonts/ProximaNova/ProximaNovaLight.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../static/Fonts/ProximaNova/ProximaNovaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../static/Fonts/ProximaNova/ProximaNovaSemibold.ttf') format('truetype');
}

.app-container {
  margin: 0;
  position: relative;
  //background-color: #e6e6e6;
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

// semantic ui workaround for fixed sidebar
.pushable:not(body) {
  transform: none;
}

.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: fixed;
}

#defaultCanvas0 {
  position: fixed;
  top: 0;
}

body {
  background-color: #e6e6e6;
}
