.schools-card-body {
  alignment: center;
  text-align: center;
  height: 756px;
  overflow: visible;
  .card-img {
    width: 57.9px;
    height: 40.69px;
  }
  .card-title {
    margin-top: 20px;
    color: #1e1e1e;
    font-family: ProximaNovaSemibold;
    font-size: 20px;
  }
  .card-text {
    width: 100%;
    color: #1e1e1e;
    font-family: BPnoScriptBold;
    font-size: 40px;
  }
  .col-1 {
    margin-bottom: 5%;
    #Group_98 {
      opacity: 1;
      position: absolute;
      width: 484.927px;
      height: 253.741px;
      left: 280.573px;
      top: 151px;
      overflow: visible;
    }
    #Line_29 {
      opacity: 0.5;
      fill: transparent;
      stroke: rgb(112, 112, 112);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
    .Line_29 {
      overflow: visible;
      position: absolute;
      top: 7.15px;
      left: 31.392px;
      width: 453.535px;
      height: 1px;
    }
    #Line_30 {
      opacity: 0.5;
      fill: transparent;
      stroke: rgb(112, 112, 112);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
    .Line_30 {
      overflow: visible;
      position: absolute;
      top: 68.453px;
      left: 31.392px;
      width: 453.535px;
      height: 1px;
    }
    #Line_31 {
      opacity: 0.5;
      fill: transparent;
      stroke: rgb(112, 112, 112);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
    .Line_31 {
      overflow: visible;
      position: absolute;
      top: 127.841px;
      left: 31.392px;
      width: 453.535px;
      height: 1px;
    }
    #Line_32 {
      opacity: 0.5;
      fill: transparent;
      stroke: rgb(112, 112, 112);
      stroke-width: 1px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
    .Line_32 {
      overflow: visible;
      position: absolute;
      top: 189.144px;
      left: 31.392px;
      width: 453.535px;
      height: 1px;
    }
    #Rectangle_1099 {
      opacity: 1;
      fill: rgba(255, 93, 57, 1);
    }
    .Rectangle_1099 {
      position: absolute;
      overflow: visible;
      width: 13.097px;
      height: 235.401px;
      left: 76.892px;
      top: 13.448px;
    }
    #Rectangle_1114 {
      opacity: 1;
      fill: rgba(255, 93, 57, 1);
    }
    .Rectangle_1114 {
      position: absolute;
      overflow: visible;
      width: 13.097px;
      height: 175.824px;
      left: 234.093px;
      top: 73.025px;
    }
    #Rectangle_1116 {
      opacity: 1;
      fill: rgba(255, 93, 57, 1);
    }
    .Rectangle_1116 {
      position: absolute;
      overflow: visible;
      width: 13.097px;
      height: 169.642px;
      left: 415.862px;
      top: 79.207px;
    }
    #Rectangle_1113 {
      opacity: 0.5;
      fill: rgba(255, 93, 57, 1);
    }
    .Rectangle_1113 {
      position: absolute;
      overflow: visible;
      width: 13.097px;
      height: 142.401px;
      left: 92.892px;
      top: 106.448px;
    }
    #Rectangle_1115 {
      opacity: 0.5;
      fill: rgba(255, 93, 57, 1);
    }
    .Rectangle_1115 {
      position: absolute;
      overflow: visible;
      width: 13.097px;
      height: 142.401px;
      left: 249.66px;
      top: 106.448px;
    }
    #Path_687 {
      opacity: 0.5;
      fill: rgba(255, 93, 57, 1);
    }
    .Path_687 {
      transform: matrix(1, 0, 0, 1, 0, 0);
      overflow: visible;
      position: absolute;
      top: 139.448px;
      left: 431.861px;
      width: 13.097px;
      height: 109.401px;
    }
    #ID0 {
      opacity: 1;
      position: absolute;
      left: 3.193px;
      top: 240.741px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 9px;
      white-space: nowrap;
      line-height: 26px;
      margin-top: -7px;
      text-align: left;
      font-family: BPnoScript;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(30, 30, 30, 1);
    }
    #ID25_ {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 180.715px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 13px;
      white-space: nowrap;
      line-height: 26px;
      margin-top: -7px;
      text-align: left;
      font-family: BPnoScript;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(30, 30, 30, 1);
    }
    #ID50 {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 120.689px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 15px;
      white-space: nowrap;
      line-height: 25px;
      margin-top: -6.5px;
      text-align: left;
      font-family: BPnoScript;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(30, 30, 30, 1);
    }
    #ID75 {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 60.025px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 12px;
      white-space: nowrap;
      line-height: 25px;
      margin-top: -6.5px;
      text-align: left;
      font-family: BPnoScript;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(30, 30, 30, 1);
    }
    #ID100 {
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 0px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: visible;
      width: 21px;
      white-space: nowrap;
      line-height: 25px;
      margin-top: -6.5px;
      text-align: left;
      font-family: BPnoScript;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      color: rgba(30, 30, 30, 1);
    }
    #Line_33 {
      opacity: 1;
      fill: transparent;
      stroke: rgb(30, 30, 30);
      stroke-width: 4px;
      stroke-linejoin: miter;
      stroke-linecap: butt;
      stroke-miterlimit: 4;
      shape-rendering: auto;
    }
    .Line_33 {
      overflow: visible;
      position: absolute;
      top: 248.5px;
      left: 31.392px;
      width: 453.535px;
      height: 4.03px;
    }
  }
  .col-2 {
    margin-left: 50%;
    .card-text {
      width: 100%;
      color: #1e1e1e;
      font-family: BPnoScriptBold;
      font-size: 40px;
    }
  }
}
