/* ==========================================================================
About page styles
========================================================================== */
.about-page-view {
  padding-bottom: 160px;
  .about-page-title {
    font-family: BPnoScriptBold;
    font-size: 40px !important;
    color: #401b00;
    padding-top: 270px;
    margin-bottom: 70px;
  }
  .about-page-menu {
    li,
    a {
      color: #1e1e1e;
    }
    a.active {
      border-bottom: 4px solid #ff5d39;
    }
    font-family: BPnoScriptBold;
    font-size: 30px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    ul {
      margin: 0;
      //position: fixed;
      list-style-type: none;
      li {
        padding-bottom: 50px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }
  }
  .about-page-content {
    font-family: ProximaNovaRegular;
    font-size: 16px;
    color: #1e1e1e;
    line-height: 35px;
  }
  h2 {
    font-family: ProximaNovaBold;
    color: #1e1e1e;
    margin-bottom: 10%;
  }
  h3 {
    font-family: ProximaNovaRegular;
    color: #1e1e1e;
  }
}
