@import 'app/shared/common.scss';

/* ==========================================================================
About page styles
========================================================================== */
.about-page-view {
  @include mobile {
    padding-bottom: 16px;
    background-color: #fafafa;
  }
  @include computer {
    padding-bottom: 160px;
    background-color: #e6e6e6;
  }
  .about-page-title {
    font-family: BPnoScriptBold;
    color: #401b00;
    @include mobile {
      font-size: 19px !important;
      width: 284px;
      height: 77px;
      padding-top: 88px;
    }
    @include computer {
      font-size: 40px !important;
      width: auto;
      height: auto;
      padding-top: 270px;
    }
    margin-bottom: 70px;
  }
  .about-page-menu {
    li,
    a {
      color: #1e1e1e;
    }
    a.active {
      border-bottom: 4px solid #ff5d39;
    }
    font-family: BPnoScriptBold;
    font-size: 30px;
    line-height: 35px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      li {
        padding-bottom: 50px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }
  }
  .about-page-content {
    font-family: ProximaNovaRegular;
    color: #1e1e1e;
    text-align: justify;
    @include mobile {
      font-size: 12px;
      line-height: 15px;
      padding: 0 18px 0 18px;
    }
    @include computer {
      font-size: 16px;
      line-height: 35px;
    }
  }
  h2 {
    font-family: ProximaNovaBold;
    color: #1e1e1e;
    margin-bottom: 5%;
  }
  h3 {
    font-family: ProximaNovaRegular;
    color: #1e1e1e;
  }
}

h2::before {
  display: block;
  content: ' ';
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
