@import 'app/shared/common.scss';

$font-family: 'BPnoScriptBold';
$background-color: transparent;
@include mobile {
  $axis-labels-font-size: 10px;
}
@include computer {
  $axis-labels-font-size: 20px;
}

@import 'highcharts/css/highcharts.scss';

.highcharts-axis-title {
  fill: #1e1e1e;
}

.highcharts-axis-labels {
  fill: #1e1e1e;
}

.highcharts-root {
  @include mobile {
    margin-left: 4%;
    margin-bottom: 5%;
    width: 93%;
    height: 80%;
  }
  @include computer {
    width: auto;
    height: auto;
  }
}

.highcharts-container {
  @include mobile {
    width: 93%;
    height: 80%;
  }
  @include computer {
    width: auto;
    height: auto;
  }
}

.highcharts-grid-line {
  fill: none;
  stroke: rgba(112, 112, 112, 0.5);
}

.highcharts-axis-line {
  stroke: #1e1e1e;
  stroke-width: 4px;
}

.highcharts-color-0 {
  fill: $color-scheme-1-accent;
  stroke: $color-scheme-1-accent;
}

.highcharts-color-1 {
  fill: #2f7cff;
  stroke: #2f7cff;
}

.highcharts-map-series .highcharts-point {
  stroke-width: 0.5px;
}

.highcharts-map-series.highcharts-series-hover .highcharts-point.highcharts-point-hover {
  stroke-width: 1px;
}

.map-level-button-group.buttons.ui {
  position: absolute;
  right: 15px;
  top: 0;
  border-radius: 0;
  z-index: 10;
  .button {
    font-family: ProximaNovaSemibold;
    font-size: 15px;
    border-radius: 0;
  }
}
