@import 'app/shared/common.scss';

$font-family: 'BPnoScriptBold';
$background-color: transparent;
$axis-labels-font-size: 20px;

@import 'highcharts/css/highcharts.scss';

.highcharts-axis-title {
  font-size: 16px;
  margin: 16px;
  fill: #1e1e1e;
}

.highcharts-axis-labels {
  fill: #1e1e1e;
}

.highcharts-root {
}

.highcharts-container {
}

.highcharts-grid-line {
  fill: none;
  stroke: rgba(112, 112, 112, 0.5);
}

.highcharts-axis-line {
  stroke: #1e1e1e;
  stroke-width: 4px;
}

.highcharts-color-0 {
  fill: $color-scheme-1-accent;
  stroke: $color-scheme-1-accent;
}

.highcharts-color-1 {
  fill: #2f7cff;
  stroke: #2f7cff;
}
