@import 'app/shared/common.scss';
/* ==========================================================================
Mobile Menu styles
========================================================================== */
.mobile-menu {
  .mobile-menu-item {
    width: 100%;
    color: #1e1e1e;
    text-transform: capitalize;
    font-family: ProximaNovaBold;
    font-size: 16px;
    padding: 17px 0 0 13px;
    &:hover {
      color: #1e1e1e;
    }
  }
  .mobile-menu-list {
    background-color: #ededed;
    .mobile-menu-list-item {
      color: #1e1e1e;
      font-size: 15px;
      font-family: BPnoScriptBold;
      padding: '0 0 0 29px';
      &.color-scheme-1:hover {
        background-color: $color-scheme-1-bg;
        color: $color-scheme-1-accent;
      }
      &.color-scheme-2:hover {
        background-color: $color-scheme-2-bg;
        color: $color-scheme-2-accent;
      }
      &.color-scheme-3:hover {
        background-color: $color-scheme-3-bg;
        color: $color-scheme-3-accent;
      }
    }
    .mobile-menu-list-image {
      width: 31px;
      height: 30px;
    }
  }
}
