@import 'app/shared/common.scss';
/* ==========================================================================
Mobile Menu styles
========================================================================== */
.mobile-menu {
  .mobile-menu-list {
    .mobile-menu-list-item {
      color: #1e1e1e;
      font-family: ProximaNovaBold;
      font-size: 16px;
    }
  }
}
