@import 'app/shared/common.scss';

.background {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
}

.dataset-page {
  @include mobile {
    padding-top: 19%;
  }
  @include tablet {
    margin: 0px 40px;
    padding-top: 150px;
  }
  @include computer {
    margin: 0px 40px;
    padding-top: 80px;
  }
}

.dataset-page-tab-menu {
  @include mobile {
    margin-top: -37.2%;
  }
  @include tablet {
    margin-top: -15%;
  }
  @include computer {
    margin-top: 0;
  }
  &.minimized {
    margin-top: -80px;
  }
}

.dataset-page-tab-menu-top {
  @include mobile {
    height: 217px;
  }
  @include tablet {
    height: 350px;
  }
  @include computer {
    height: 600px;
  }
  &.minimized {
    @include mobile {
      height: 89px;
    }
    @include tablet {
      margin-top: -150px;
      height: 100px;
    }
    @include computer {
      height: 120px;
    }
  }
  .dataset-page-tab-menu-top-topics {
    padding: 50px 23px 156px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: BPnoScriptBold;
    text-transform: uppercase;
    span {
      border-bottom: 3px solid #ffffff;
    }
  }
}

.dataset-page-title {
  @include mobile {
    margin: 0;
    padding: 10% 0 5% 0;
  }
  @include tablet {
    margin: 0;
    padding-top: 20%;
  }
  @include computer {
    padding: 10% 0 0 0;
  }
  .datasetIcon {
    @include mobile {
      height: 39px;
      width: 41px;
    }
    @include tablet {
      height: 60px;
      width: 61px;
    }
    @include computer {
      height: 96px;
      width: 100px;
    }
  }
  h1 {
    text-align: center;
    font-family: BPnoScriptBold;
    &.color-scheme-1 {
      color: $color-scheme-1-bg;
    }
    &.color-scheme-2 {
      color: $color-scheme-2-bg;
    }
    &.color-scheme-3 {
      color: $color-scheme-3-bg;
    }
    @include mobile {
      font-size: 27px;
    }
    @include tablet {
      font-size: 50px;
    }
    @include computer {
      font-size: 100px;
    }
  }
  &.minimized {
    padding: 0;
    .minimized-menu {
      margin: 0;
      .datasetIcon-position {
        @include mobile {
          padding: 20px 15px 140px 15px;
        }
        @include computer {
          padding: 39px 32px 158px 34px;
        }
        .datasetIcon {
          @include mobile {
            width: 27px;
            height: 26px;
          }
          @include tablet {
            width: 41px;
            height: 40px;
          }
          @include computer {
            height: 51px;
            width: 52px;
          }
        }
      }
      h1 {
        text-align: left;
        @include mobile {
          font-size: 15px;
          margin-top: -110px;
        }
        @include tablet {
          font-size: 20px;
        }
        @include computer {
          font-size: 30px;
          padding-top: 52px;
          margin-top: -156px;
        }
      }
    }
  }
}

.dataset-page-tab-menu-item {
  background-color: transparent;
  font-family: BPnoScriptBold;
  &.color-scheme-1 {
    color: $color-scheme-1-bg;
    border: 1px solid $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    color: $color-scheme-2-bg;
    border: 1px solid $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    color: $color-scheme-3-bg;
    border: 1px solid $color-scheme-3-bg;
  }
  text-transform: uppercase;
  @include mobile {
    font-size: 15px;
    line-height: 12px;
    padding: 12px 0;
  }
  @include computer {
    font-size: 30px;
    line-height: 18px;
    padding: 16px 0;
  }
  &.active {
    &.color-scheme-1 {
      background-color: $color-scheme-1-bg;
    }
    &.color-scheme-2 {
      background-color: $color-scheme-2-bg;
    }
    &.color-scheme-3 {
      background-color: $color-scheme-3-bg;
    }
    color: #1e1e1e;
  }
}

.dataset-page-about {
  .svg {
    @include mobile {
      margin: 0;
      padding: 31px 0 31px 0;
    }
    @include tablet {
      float: right;
      padding-top: 20%;
    }
    @include computer {
      float: right;
      padding-top: 20%;
    }
    &.color-scheme-1 {
      fill: $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      fill: $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      fill: $color-scheme-3-accent;
    }
  }
  margin-top: 14px;
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  .dataset-page-about-content {
    font-family: ProximaNovaRegular;
    @include mobile {
      font-size: 15px;
      line-height: 20px;
      margin: 0 5% 10% 5%;
    }
    @include tablet {
      font-size: 20px;
      line-height: 25px;
      margin: 0;
      margin: 10% 5% 10% 5%;
    }
    @include computer {
      font-size: 20px;
      line-height: 25px;
      margin: 0;
      margin: 10% 5% 10% 5%;
    }
  }
}

.dataset-page-highlights {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  .divider {
    margin-left: 10%;
    width: 80%;
    &.color-scheme-1 {
      border-bottom: 1px solid $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      border-bottom: 1px solid $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      border-bottom: 1px solid $color-scheme-3-accent;
    }
  }
}

.dataset-page-vis {
  min-height: 600px;
  @include mobile {
  }
  @include computer {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.vis-options-menu {
  @include mobile {
    padding: 0 9px 0 9px;
  }
  @include tablet {
    padding: 10px 40px 0 40px;
  }
  @include computer {
    padding: 0;
  }
}

// .vis-container {
//   @include mobile {
//     top: 10px;
//   }
//   @include computer {
//     top: 60px;
//   }
// }

.vis-options-menu-title {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: inherit;
    font-size: 30px;
    text-align: left;
    font-family: BPnoScriptBold;
    color: #1e1e1e;
    margin-bottom: 35px;
    line-height: 30px;
    img {
      padding: 5px 0;
      margin-left: 0;
      float: right;
    }
  }
  @include computer {
    display: inherit;
    font-size: 30px;
    text-align: left;
    font-family: BPnoScriptBold;
    color: #1e1e1e;
    margin-bottom: 35px;
    line-height: 30px;
    img {
      padding: 5px 0;
      margin-left: 0;
      float: right;
    }
  }
}

.vis-options-menu-item {
  margin-bottom: 30px;
}

.vis-options-menu-label {
  font-size: 16px;
  text-align: left;
  font-family: ProximaNovaBold;
  color: #1e1e1e;
  padding-bottom: 12px;
}

.vis-options-dropdown.dropdown {
  font-size: 16px;
  font-family: ProximaNovaSemiBold !important;
  border-radius: 0 !important;
  border: 3px solid !important;
  background: #fff;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  &.ui.active.dropdown .menu {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    margin: 0 -3px;
    min-width: calc(100% + 6px) !important;
    width: calc(100% + 6px) !important;
  }
  .menu > .item {
    font-size: 14px;
    border: none !important;
  }
}

.dropdown-description {
  @include mobile {
    margin-left: 20px;
    margin-top: -15px;
  }
  @include tablet {
    margin: auto;
  }
  @include computer {
    margin: auto;
  }
}

.vis-options-dropdown.dropdown {
  &.color-scheme-1,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-2,
  &.color-scheme-2 .menu {
    border-color: $color-scheme-2-accent !important;
  }
  &.color-scheme-3,
  &.color-scheme-3 .menu {
    border-color: $color-scheme-3-accent !important;
  }
}

.vis-qb-filter {
  margin-bottom: 20px;
}

.vis-qb-filter-label {
  font-size: 16px;
  text-align: left;
  font-family: ProximaNovaBold;
  color: #1e1e1e;
  padding-bottom: 5px;
  padding-top: 5px;
}

@for $level from 1 through 10 {
  .filter-option-level-#{$level} {
    .text {
      display: block;
      padding-left: #{$level * 20}px !important;
    }
  }
}

.vis-container {
  position: relative;
  margin-top: 5%;
  @include computer {
    padding-left: 50px;
  }
}

.vis-toolbar {
  @include computer {
    padding-left: 50px;
  }
}

.vis-toolbar .menu {
  min-height: 0;
  margin: 0 !important;
  height: 30px;
  font-family: ProximaNovaSemibold;
  font-size: 20px;
  color: rgba(30, 30, 30, 0.5);
  .item.active {
    @include computer {
      border-bottom-width: 3px !important;
      border-bottom-style: solid !important;
    }
  }
  &.color-scheme-1 {
    .item.active {
      color: $color-scheme-1-accent;
      border-color: $color-scheme-1-accent;
      fill: $color-scheme-1-accent;
    }
  }
  &.color-scheme-2 {
    .item.active {
      color: $color-scheme-2-accent;
      border-color: $color-scheme-2-accent;
    }
  }
  &.color-scheme-3 {
    .item.active {
      color: $color-scheme-3-accent;
      border-color: $color-scheme-3-accent;
    }
  }
}

.compare-by-accordion-title,
.filter-accordion-title {
  font-family: ProximaNovaBold !important;
  font-size: 16px !important;
}

.ui.toggle.checkbox.color-scheme-1 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-1 input:focus:checked ~ label:before {
  background-color: $color-scheme-1-accent !important;
}

.ui.toggle.checkbox.color-scheme-1 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-1 input:checked ~ label:before {
  background-color: $color-scheme-1-accent !important;
}

.ui.toggle.checkbox.color-scheme-2 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-2 input:focus:checked ~ label:before {
  background-color: $color-scheme-2-accent !important;
}

.ui.toggle.checkbox.color-scheme-2 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-2 input:checked ~ label:before {
  background-color: $color-scheme-2-accent !important;
}

.ui.toggle.checkbox.color-scheme-3 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-3 input:focus:checked ~ label:before {
  background-color: $color-scheme-3-accent !important;
}

.ui.toggle.checkbox.color-scheme-3 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-3 input:checked ~ label:before {
  background-color: $color-scheme-3-accent !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: grey;
}

.ui.bottom.left.basic.popup.transition.visible {
  @include mobile {
    top: 70% !important;
    left: 50% !important;
  }
  @include computer {
    top: 26% !important;
    left: 91% !important;
  }
}

.share-dropdown {
  &.ui.active.dropdown .menu {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    height: auto;
  }
}

.download-dropdown {
  &.ui.active.dropdown .menu {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    height: auto;
  }
}

.share-dropdown.dropdown,
.download-dropdown.dropdown {
  .menu .item {
    font-size: 16px;
  }
  .menu .header {
    font-size: 16px;
  }
  &.color-scheme-1,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-2,
  &.color-scheme-2 .menu {
    border-color: $color-scheme-2-accent !important;
  }
  &.color-scheme-3,
  &.color-scheme-3 .menu {
    border-color: $color-scheme-3-accent !important;
  }
}

.vis-options-dropdown.ui.dropdown > .dropdown.icon {
  position: absolute;
  line-height: 1.21428571em;
  right: 1em;
}

.remove-filters {
  margin-top: 15px;
  padding-left: 20px;
}

.remove-filter,
.slider-filter {
  img {
    cursor: pointer;
  }
}

.remove-filter-dim-label {
  margin-left: 8.5px;
  font-family: ProximaNovaBold;
  font-size: 16px;
  color: #1e1e1e;
}

.remove-filter-value {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  color: #1e1e1e;
}

a.disabled {
  pointer-events: none;
}

// .button-group-filter {
//   margin-bottom: 40px;
// }

.button-group-filter-label {
  font-size: 16px;
  text-align: left;
  font-family: ProximaNovaSemibold;
  color: #1e1e1e;
  padding-bottom: 12px;
}

.slider-filter-label {
  display: inline-block;
  font-family: ProximaNovaBold;
  font-size: 16px;
  color: #1e1e1e;
  padding-bottom: 15px;
  margin-right: 5px;
}
.button-group-filter-button {
  padding: 10px !important;
  color: #ffffff !important;
  font-size: 30px !important;
  font-family: ProximaNovaBold !important;
  opacity: 0.2;
  &.active {
    opacity: 1;
  }
  &.color-scheme-1 {
    background: $color-scheme-1-accent !important;
  }
  &.color-scheme-2 {
    background: $color-scheme-2-accent !important;
  }
  &.color-scheme-3 {
    background: $color-scheme-3-accent !important;
  }
}

.dim-group-title {
  font-size: 14px !important;
  font-family: ProximaNovaBold;
}

.ui.dropdown .menu > .item.disabled:hover {
  background: none;
}

.rc-slider-mark-text {
  display: none !important;
  position: relative !important;
}

.rc-slider-mark-text-active {
  display: inline-block !important;
}

.slider-filter {
  padding-top: 12px;
  padding-bottom: 12px;
}

.slider-filter-mark {
  font-family: ProximaNovaRegular;
  color: #1e1e1e;
  font-size: 11px;
  letter-spacing: 0.2px;
}

.rc-slider-dot {
  border: 2px solid #2f7cff !important;
}
