@import 'app/shared/common.scss';

.dataset-page-tab-menu {
  margin: 80px 40px 0 40px;
}

.dataset-page-title {
  height: 600px;
  h1 {
    font-family: BPnoScriptBold;
    font-size: 100px;
    color: $color-scheme-1-bg;
    margin-bottom: 225px;
  }
}

.dataset-page-tab-menu-item {
  background-color: transparent;
  font-size: 30px;
  line-height: 18px;
  font-family: BPnoScriptBold;
  padding: 16px 0;
  color: $color-scheme-1-bg;
  border: 1px solid $color-scheme-1-bg;

  &.active {
    background-color: $color-scheme-1-bg;
    color: #1e1e1e;
  }
}
