@import 'app/shared/common.scss';

.background {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
}

.dataset-page {
  @include mobile {
    padding-top: 19%;
  }
  @include computer {
    margin: 0px 40px;
    padding-top: 80px;
  }
}

.dataset-page-tab-menu {
  @include mobile {
    margin-top: -37.2%;
  }
  @include computer {
    margin-top: 0;
  }
  &.minimized {
    margin-top: -80px;
  }
}

.dataset-page-tab-menu-top {
  @include mobile {
    height: 217px;
  }
  @include computer {
    height: 600px;
  }
  &.minimized {
    @include mobile {
      height: 89px;
    }
    @include computer {
      height: 120px;
    }
  }
  .dataset-page-tab-menu-top-topics {
    padding: 50px 23px 156px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: BPnoScriptBold;
    text-transform: uppercase;
    span {
      border-bottom: 3px solid #ffffff;
    }
  }
}

.dataset-page-title {
  @include mobile {
    margin: 0;
    padding: 10% 0 5% 0;
  }
  @include computer {
    padding: 10% 0 0 0;
  }
  .datasetIcon {
    @include mobile {
      height: 39px;
      width: 41px;
    }
    @include computer {
      height: 96px;
      width: 100px;
    }
  }
  h1 {
    text-align: center;
    font-family: BPnoScriptBold;
    color: $color-scheme-1-bg;
    @include mobile {
      font-size: 27px;
    }
    @include computer {
      font-size: 100px;
    }
  }
  &.minimized {
    padding: 0;
    .minimized-menu {
      margin: 0;
      .datasetIcon-position {
        @include mobile {
          padding: 20px 15px 140px 15px;
        }
        @include computer {
          padding: 39px 32px 158px 34px;
        }
        .datasetIcon {
          @include mobile {
            width: 27px;
            height: 26px;
          }
          @include computer {
            height: 51px;
            width: 52px;
          }
        }
      }
      h1 {
        text-align: left;
        @include mobile {
          font-size: 15px;
          margin-top: -110px;
        }
        @include computer {
          font-size: 30px;
          padding-top: 52px;
          margin-top: -156px;
        }
      }
    }
  }
}

.dataset-page-tab-menu-item {
  background-color: transparent;
  font-family: BPnoScriptBold;
  &.color-scheme-1 {
    color: $color-scheme-1-bg;
    border: 1px solid $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    color: $color-scheme-2-bg;
    border: 1px solid $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    color: $color-scheme-3-bg;
    border: 1px solid $color-scheme-3-bg;
  }
  text-transform: uppercase;
  @include mobile {
    font-size: 15px;
    line-height: 12px;
    padding: 12px 0;
  }
  @include computer {
    font-size: 30px;
    line-height: 18px;
    padding: 16px 0;
  }
  &.active {
    &.color-scheme-1 {
      background-color: $color-scheme-1-bg;
    }
    &.color-scheme-2 {
      background-color: $color-scheme-2-bg;
    }
    &.color-scheme-3 {
      background-color: $color-scheme-3-bg;
    }
    color: #1e1e1e;
  }
}

.dataset-page-about {
  .svg {
    @include mobile {
      margin: 0;
      padding: 31px 0 31px 0;
    }
    @include computer {
      float: right;
      padding-top: 20%;
    }
    &.color-scheme-1 {
      fill: $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      fill: $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      fill: $color-scheme-3-accent;
    }
  }
  margin-top: 14px;
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  .dataset-page-about-content {
    font-family: ProximaNovaRegular;
    @include mobile {
      font-size: 15px;
      line-height: 20px;
      margin: 0 5% 10% 5%;
    }
    @include computer {
      font-size: 20px;
      line-height: 25px;
      margin: 0;
      margin: 10% 5% 10% 5%;
    }
  }
}

.dataset-page-highlights {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  .divider {
    margin-left: 10%;
    width: 80%;
    &.color-scheme-1 {
      border-bottom: 1px solid $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      border-bottom: 1px solid $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      border-bottom: 1px solid $color-scheme-3-accent;
    }
  }
}

.dataset-page-vis {
  @include mobile {
  }
  @include computer {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.vis-options-menu {
  margin-top: 8%;
}

// .vis-container {
//   @include mobile {
//     top: 10px;
//   }
//   @include computer {
//     top: 60px;
//   }
// }

.vis-options-menu-title {
  font-size: 30px;
  text-align: left;
  font-family: BPnoScriptBold;
  color: #1e1e1e;
  margin-bottom: 35px;
  line-height: 30px;
}

.vis-options-menu-item {
  margin-bottom: 30px;
}

.vis-options-menu-label {
  font-size: 16px;
  text-align: left;
  font-family: ProximaNovaBold;
  color: #1e1e1e;
  padding-bottom: 12px;
}

.vis-options-dropdown.dropdown {
  font-size: 16px;
  font-family: ProximaNovaBold;
  border-radius: 0 !important;
  border: 3px solid !important;
  background: #fff;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  &.ui.active.dropdown .menu {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    margin: 0 -3px;
    min-width: calc(100% + 6px);
    width: calc(100% + 6px);
  }
  .menu.item {
    font-size: 16px;
  }
}

.vis-options-dropdown.dropdown {
  &.color-scheme-1,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-2,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-3,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
}

.vis-qb-filter {
  margin-bottom: 20px;
}

.vis-qb-filter-label {
  font-size: 16px;
  text-align: left;
  font-family: ProximaNovaBold;
  color: #1e1e1e;
  padding-bottom: 5px;
  padding-top: 5px;
}

@for $level from 1 through 10 {
  .filter-option-level-#{$level} {
    .text {
      display: block;
      padding-left: #{$level * 20}px !important;
    }
  }
}
.vis-container {
  position: relative;
  margin-top: 5%;
}

.vis-toolbar .menu {
  @include mobile {
    display: none;
  }
  @include computer {
    display: flex;
  }
  min-height: 0;
  font-family: ProximaNovaSemibold;
  font-size: 20px;
  color: rgba(30, 30, 30, 0.5);
  .item.active {
    @include computer {
      border-bottom-width: 3px !important;
      border-bottom-style: solid !important;
    }
  }
  &.color-scheme-1 {
    .item.active {
      color: $color-scheme-1-accent;
      border-color: $color-scheme-1-accent;
      fill: $color-scheme-1-accent;
    }
  }
  &.color-scheme-2 {
    .item.active {
      color: $color-scheme-2-accent;
      border-color: $color-scheme-2-accent;
    }
  }
  &.color-scheme-3 {
    .item.active {
      color: $color-scheme-3-accent;
      border-color: $color-scheme-3-accent;
    }
  }
}

.mob-vis-upper-toolbar .menu {
  @include mobile {
    display: flex;
  }
  @include computer {
    display: none;
  }
}
.mob-vis-lower-toolbar .menu {
  @include mobile {
    display: flex;
  }
  @include computer {
    display: none;
  }
}

.ui.toggle.checkbox.color-scheme-1 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-1 input:focus:checked ~ label:before {
  background-color: $color-scheme-1-accent !important;
}

.ui.toggle.checkbox.color-scheme-1 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-1 input:checked ~ label:before {
  background-color: $color-scheme-1-accent !important;
}

.ui.toggle.checkbox.color-scheme-2 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-2 input:focus:checked ~ label:before {
  background-color: $color-scheme-2-accent !important;
}

.ui.toggle.checkbox.color-scheme-2 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-2 input:checked ~ label:before {
  background-color: $color-scheme-2-accent !important;
}

.ui.toggle.checkbox.color-scheme-3 input:focus:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-3 input:focus:checked ~ label:before {
  background-color: $color-scheme-3-accent !important;
}

.ui.toggle.checkbox.color-scheme-3 input:checked ~ .box:before,
.ui.toggle.checkbox.color-scheme-3 input:checked ~ label:before {
  background-color: $color-scheme-3-accent !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: grey;
}

.share-dropdown {
  &.ui.active.dropdown .menu {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    margin: 15px -78px;
    width: 164px;
  }
  .menu.item {
    font-size: 16px;
  }
}

.share-dropdown.dropdown {
  &.color-scheme-1,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-2,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
  &.color-scheme-3,
  &.color-scheme-1 .menu {
    border-color: $color-scheme-1-accent !important;
  }
}
