@import 'app/shared/common.scss';

.slick-dots {
  margin-bottom: 40px;
}

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* ==========================================================================
Main page styles
========================================================================== */
.home-page-view {
  background-blend-mode: color;
  background-size: cover;
  .home-page-view-title {
    font-family: BPnoScriptBold;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 3em;
    @include mobile {
      font-size: 30px;
    }
    @include tablet {
      font-size: 60px;
    }
    @include computer {
      font-size: 80px;
    }
  }
  .home-page-view-subtitle {
    font-family: Proxima Nova Semibold;
    color: #ffffff;
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      font-size: 14px;
      margin-bottom: 35px;
    }
    @include tablet {
      font-size: 16px;
      margin-bottom: 100px;
    }
    @include computer {
      margin-top: 31px;
      margin-bottom: 111px;
      font-size: 20px;
    }
  }
  .home-page-view-explore {
    font-family: BPnoScriptBold;
    color: #ffffff;
    @include mobile {
      font-size: 16px;
      border-bottom: 2px solid #ff5d39;
    }
    @include tablet {
      font-size: 20px;
      border-bottom: 3px solid #ff5d39;
    }
    @include computer {
      font-size: 30px;
      border-bottom: 4px solid #ff5d39;
    }
  }
}

.dataset-cards {
  @include mobile {
    margin-top: -75px;
    padding: 0 0 60px 0;
  }
  @include tablet {
    padding: 40px 20px 60px 20px;
  }
  @include computer {
    padding: 0 40px 60px 40px;
  }
}

.dataset-card {
  @include mobile {
    height: 780px;
  }
  @include tablet {
    height: 800px;
  }
  @include computer {
    height: 550px;
  }
  &:not(:last-child) {
    @include mobile {
      margin-bottom: 10px;
    }
    @include computer {
      margin-bottom: 30px;
    }
  }
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
}

.dataset-card-header {
  text-align: center;
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  @include mobile {
    padding-top: 15px;
  }
  @include tablet {
    padding-top: 20px;
  }
  @include computer {
    padding-top: 57px;
  }
  .dataset-card-header-image {
    @include mobile {
      width: 31px;
      height: 30px;
    }
    @include tablet {
      width: 41px;
      height: 40px;
    }
    @include computer {
      width: auto;
      height: auto;
    }
  }
  h3 {
    font-family: 'Proxima Nova Semibold';
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include computer {
      font-size: 20px;
    }
  }
}

.grid {
  height: 100%;
}

.dataset-card-content {
  padding: 50px;
  .dataset-card-content-image {
    @include mobile {
      height: 131px;
      width: 280px;
    }
    @include computer {
      height: 250px;
      width: 480px;
    }
  }
  .dataset-card-desc {
    font-family: 'BPnoScriptBold';
    @include mobile {
      font-size: 20px;
      line-height: 18px;
    }
    @include computer {
      font-size: 30px;
      line-height: 35px;
    }
    @include tablet {
      font-size: 25px;
      line-height: 30px;
    }
  }
  .dataset-card-link {
    font-family: 'BPnoScriptBold';
    @include mobile {
      font-size: 16px;
    }
    @include computer {
      font-size: 20px;
    }
    border-bottom-width: 3px;
    border-bottom-style: solid;
    &.color-scheme-1 {
      color: $color-scheme-1-accent;
      border-color: $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      color: $color-scheme-2-accent;
      border-color: $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      color: $color-scheme-3-accent;
      border-color: $color-scheme-3-accent;
    }
  }
}

.slider:hover {
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots.color-scheme-1 li button:before,
.slick-dots.color-scheme-1 li.slick-active button:before {
  color: $color-scheme-1-accent;
}

.slick-dots.color-scheme-2 li button:before,
.slick-dots.color-scheme-2 li.slick-active button:before {
  color: $color-scheme-2-accent;
}

.slick-dots.color-scheme-3 li button:before,
.slick-dots.color-scheme-3 li.slick-active button:before {
  color: $color-scheme-3-accent;
}

.error {
  border: 1px #f00;
  background-color: #fdd;

  &--serious {
    @extend .error;
    border-width: 3px;
  }
}
