/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;
  background-size: contain;
}

.home {
  margin-top: 229.18px;
  h2 {
    font-family: 'BPnoScriptBold';
    font-size: 80px;
    color: #ffffff;
    text-align: center;
  }

  h3 {
    margin-top: 111px;
    font-family: 'BPnoScriptBold';
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
  }

  p {
    font-family: 'ProximaNovaSemibold';
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    height: 121px;
    width: 672px;
    margin: auto;
    alignment: center;
  }
}
