@import 'app/shared/common.scss';

.slick-dots {
  margin-bottom: 40px;
}

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* ==========================================================================
Main page styles
========================================================================== */
.home-page-view {
  background: rgba(30, 30, 30, 0.6) url('/content/images/Assets/Homepage-bg.jpg') no-repeat fixed top;
  background-blend-mode: color;
  background-size: cover;
}

.dataset-cards {
  padding: 0 40px 60px 40px;
}

.dataset-card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
}

.dataset-card-header {
  text-align: center;
  padding-top: 57px;
  h3 {
    font-family: 'ProximaNovaSemibold';
    font-size: 20px;
  }
}
.grid {
  height: 100%;
}

.dataset-card-content {
  padding: 50px;
  .dataset-card-desc {
    font-family: 'BPnoScriptBold';
    font-size: 40px;
    line-height: 45px;
  }
  .dataset-card-link {
    color: #1e1e1e;
    font-family: 'BPnoScriptBold';
    font-size: 20px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    &.color-scheme-1 {
      border-color: $color-scheme-1-accent;
    }
    &.color-scheme-2 {
      border-color: $color-scheme-2-accent;
    }
    &.color-scheme-3 {
      border-color: $color-scheme-3-accent;
    }
  }
}

.error {
  border: 1px #f00;
  background-color: #fdd;

  &--serious {
    @extend .error;
    border-width: 3px;
  }
}
