/* ==========================================================================
Header Menu styles
========================================================================== */
.app-header {
  .app-header-menu.ui.menu {
    background-color: white;
    padding: 0 48.91px 0 44px;
    margin: 0;
    .item {
      padding: 0 0 0 79px;
      text-transform: uppercase;
      font-family: 'BPnoScriptBold';
      font-size: 20px;
      color: rgba(30, 30, 30, 0.6);
      &.active {
        color: #1e1e1e;
        span {
          border-bottom: 3px solid #ff5d39;
        }
      }
    }
  }
}

.app-header.home-page-header {
  .app-header-menu.ui.menu {
    background-color: transparent;
    .item {
      color: rgba(255, 255, 255, 0.6);
      &.active {
        color: #ffffff;
        span {
          border-bottom: 3px solid #ff5d39;
        }
      }
    }
  }
}
