@import 'app/shared/common.scss';

/* ==========================================================================
Header Menu styles
========================================================================== */
.app-header {
  .app-header-menu.ui.menu {
    background-color: white;
    margin: 0;
    @include tablet {
      padding: 0 25px 0 22px;
    }
    @include computer {
      padding: 0 48.91px 0 44px;
    }
    .item {
      text-transform: uppercase;
      font-family: 'BPnoScriptBold';
      color: rgba(30, 30, 30, 0.6);
      @include tablet {
        font-size: 16px;
        padding: 0 0 0 40px;
      }
      @include computer {
        font-size: 20px;
        padding: 0 0 0 60px;
      }
      &.active {
        color: #1e1e1e;
        span {
          border-bottom: 3px solid #ff5d39;
        }
      }
    }
  }
}

.app-header.home-page-header {
  .app-header-menu.ui.menu {
    background-color: transparent;
    .item {
      color: rgba(255, 255, 255, 0.6);
      &.active {
        color: #ffffff;
        span {
          border-bottom: 3px solid #ff5d39;
        }
      }
    }
  }
}

.app-header-menu.ui.menu {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
  }
  .item {
    padding: 0 0 0 79px;
    text-transform: uppercase;
    font-family: 'BPnoScriptBold';
    font-size: 20px;
    color: #1e1e1e;
    &.active {
      span {
        border-bottom: 3px solid #ff5d39;
      }
    }
  }
}

.topics-mega-menu {
  background-color: white;
  font-family: BPnoScriptBold;
  color: #1e1e1e;
  @include tablet {
    font-size: 25px;
  }
  @include computer {
    font-size: 30px;
  }
  .topics-mega-menu-list .list {
    @include tablet {
      padding: 20px 10px 50px 10px;
    }
    @include computer {
      padding: 20px 100px 80px 100px;
    }
    .topics-mega-menu-list-item {
      border-radius: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      &.color-scheme-1:hover {
        background-color: $color-scheme-1-bg;
        color: $color-scheme-1-accent;
        border-color: $color-scheme-1-accent;
      }
      &.color-scheme-2:hover {
        background-color: $color-scheme-2-bg;
        color: $color-scheme-2-accent;
        border-color: $color-scheme-2-accent;
      }
      &.color-scheme-3:hover {
        background-color: $color-scheme-3-bg;
        color: $color-scheme-3-accent;
        border-color: $color-scheme-3-accent;
      }
      .topics-mega-menu-list-item-discover {
        visibility: hidden;
        font-size: 20px;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        float: right;
      }
    }
    .topics-mega-menu-list-item:hover .topics-mega-menu-list-item-discover {
      visibility: visible;
    }
  }
}

.topics-mega-menu-list .list > .topics-mega-menu-list-item.active {
  &.color-scheme-1 {
    background-color: $color-scheme-1-bg;
    color: $color-scheme-1-accent;
  }
  &.color-scheme-2 {
    background-color: $color-scheme-2-bg;
    color: $color-scheme-2-accent;
  }
  &.color-scheme-3 {
    background-color: $color-scheme-3-bg;
    color: $color-scheme-3-accent;
  }
}

.topics-mega-menu-img {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  img {
    height: 40px;
    width: auto;
  }
}
