$header-color: #ffffff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 40.818px;
  top: 25px;
  overflow: visible;
  .uncontrolled-dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }
  a.nav-link {
    font-family: BPnoScriptBold;
    > span {
      &:hover,
      &:active {
        text-decoration: underline;
        text-decoration-color: red;
      }
      text-transform: uppercase;
      height: 24px;
      width: 72px;
      margin-left: 5px;
    }
  }
  .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
    &:hover {
      color: #fff;
    }
  }
}

.active {
  text-decoration: underline;
  text-decoration-color: red;
}

.brand-logo {
  .brand-icon {
    opacity: 1;
    position: absolute;
    width: 216.376px;
    height: 30.617px;
    left: 71.429px;
    top: 6.872px;
    overflow: visible;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
